.menu-lateral {
    background-color: #7E2C61;
    width: 15%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu-lateral img {
    width: 25px;
    height: 25px;
    margin-right: 6%;
    margin-left: 4%;
}

.container-icons {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container-icons img {
    width: 25px;
    height: 25px;
    margin-right: 6%;
    margin-left: 4%;
    cursor: pointer;
}

.img-user-cliente {
    margin-top: 10%;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-image: url(../../../assets/icons/ICON-PROFILE.png);
    background-size: cover;
    background-position: center;
    background-color: rgb(255, 255, 255);
    
}

.div-menu-lateral-edit {
    width: 100%;
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-menu-lateral-edit label {
    color: white;
    margin-top: 5%;
    font-size: 15px;
    cursor: pointer;
}

.div-menu-lateral-edit img{
    cursor: pointer;
}