.label-menu{
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.label-menu label{
    color: white;
    margin-top: 5%;
    font-size: 15px;
}
