@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

.main-cards {
    background-color: white;
    width: 100%;
    height: 190vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.textos-cards {
    /* background-color: brown; */
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.titulo-cards {
    /* background-color: aqua; */
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slogan-cards {
    /* background-color: blueviolet; */
    width: 40%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-cards h2 {
    margin: 0%;
    color: black;
    font-family: 'Signika', sans-serif;
    font-size: 60px;
    font-weight: 550;
    text-align: left;
    padding-left: 15%;
}

.slogan-cards p {
    margin: 0%;
    font-family: 'Signika', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #767676;
}

.container-cards {
    /* background-color: cadetblue; */
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

/* .borda-card1,
.borda-card2,
.borda-card3,
.borda-card4 {
    background-color: green;
    width: 70%;
    height: 25vh;
    display: flex;
    border-radius: 10px;
} */

.card1,
.card2,
.card3,
.card4 {
    /* background-color: aqua; */
    width: 15%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: black 1px 3px 15px;
}

.txt-card1,
.txt-card2,
.txt-card3,
.txt-card4 {
    /* background-color: blue; */
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.txt-card1 p,
.txt-card2 p,
.txt-card3 p,
.txt-card4 p {
    margin: 0%;
    font-size: 15px;
    font-family: 'Signika', sans-serif;
}

.fotinha1 img,
.fotinha2 img,
.fotinha3 img,
.fotinha4 img {
    /* background-color: green; */
    width: 100%;
    height: 25vh;
    display: flex;
    border-radius: 10px;
}

.button-cards{
    background-color: #7e2c61ec;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.txt-tittle h2{
    margin: 0%;
    color: white;
    font-size: 35px;
    font-weight: 130;
    font-family: 'Signika', sans-serif;
}

.button-inscrever{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-inscrever button{
    background-color: #F49C63;
    width: 20%;
    height: 8vh;
    border: none;
    font-size: 20px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}