@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

.main-cadastro-pet{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content-cadastro-pet{
    width: 90%;
    height: 98vh;
    background-color: brown;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo-cadastro-pet{
    width: 90%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-cadastro-pet h2{
    margin: 0%;
    font-size: 35px;
    font-family: 'Signika', sans-serif;
}

.cards-cadastro-pet{
    width: 90%;
    height: 80vh;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card1-cadastro-pet,
.card2-cadastro-pet,
.card3-cadastro-pet,
.card4-cadastro-pet{
    width: 20%;
    height: 35vh;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card1-cadastro-pet img,
.card2-cadastro-pet img,
.card3-cadastro-pet img,
.card4-cadastro-pet img{
    width: 70%;
    height: 25vh;
}

.card1-cadastro-pet p,
.card2-cadastro-pet p,
.card3-cadastro-pet p,
.card4-cadastro-pet p{
    margin: 0%;
    font-size: 30px;
    font-family: 'Signika', sans-serif;
}