.header{
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;

}

.header img{
  height: 40px;
  width: 200px;
}

.btn{
background-color: brown;
width: 30%;
height: 40px;
display: flex;
align-items: center;
justify-content: space-around;
}

#btn-cliente{
  background-color: #F49C63;
  border: none;
  width: 40%;
  height: 80%;
  cursor: pointer;
  font-size: 65%;
}

#btn-petshop{
  background-color: #7E2C61;
  border: none;
  width: 40%;
  height: 80%;
  cursor: pointer;
  font-size: 65%;
}