@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

.content-main-perfil-petshop {
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.content-card-perfil-petshop {
    width: 85%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.perfil-content-petshop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
}

.items-perfil-petshop {
    width: 100%;
    height: 95%;
    box-shadow: 0px 3px 10px 0px rgb(138, 138, 138);
    border-radius: 3px;
    border: 1px solid rgb(167, 167, 167);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-items-perfil-petshop {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.img-user-perfil-petshop {
    width: 15%;
    background-size: cover;
    background-position: center;
}

.img-user-perfil-petshop img {
    width: 100%;
    height: auto;
}

.text-user-perfil-petshop {
    width: 65%;
}

.text-user-perfil-petshop p {
    font-size: 50px;
    margin-left: 3%;
}

.inputs-items-perfil-petshop {
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text-user-perfil-petshop {
    width: 65%;
}


.text-user-perfil-petshop p {
    font-size: 50px;
    margin-left: 3%;
}

.inputs-user-perfil-petshop {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs-user-perfil-petshop input {
    outline: none;
    border: 1px solid rgb(175, 175, 175);
    background-color: #f0f0f0;
    width: 80%;
}

.inputs-user-perfil-petshop input::placeholder {
    color: black;
}

.inputs-user-perfil-petshop label {
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 3%;
}


.btn-atualizar-perfil-petshop {
    width: 50%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.btn-atualizar-perfil-petshop button {
    height: 5vh;
    cursor: pointer;
    font-family: 'Signika', sans-serif;
    background-color: #7E2C61;
    color: white;
    border: none;
    border-radius: 4px;
}