@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

.container-main-meus-pets {
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.titulo-meus-pets {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.titulo-meus-pets h2 {
    color: black;
    margin: 0%;
    width: 100%;
    padding-left: 5%;
    font-family: 'Signika', sans-serif;
}

.content-meus-pets {
    width: 85%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: flex-start;
}

.selecionaveis-meus-pets {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.selecionaveis-meus-pets input {
    width: 20%;
    height: 5vh;
    border: 1px solid;
}

.selecionaveis-meus-pets button {
    margin: 0;
    width: 20%;
    height: 5vh;
    background-color: #7E2C61;
    font-family: 'Signika', sans-serif;
    cursor: pointer;
    border: none;
    color: white;
}

.tabela-meus-pets {
    width: 100%;
    display: flex;
    justify-content: center;
}

.table-container {
    margin-top: 2%;
    border-collapse: collapse;
    width: 90%;
    align-items: center;
}

.table-container th {
    background-color: #7E2C61;
    color: #fff;
    padding: 8px;
    text-align: left;
    border: 1px solid white;
}

.table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
    align-items: center;
}

.filtro-pets {
    display: flex;
}

.filtro-pets label {
    padding-right: 2%;
}

.filtro-meus-pets {
    position: relative;
    display: inline-block;
}

.filtro-meus-pets {
    display: flex;
    width: 200px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filtro-meus-pets::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #999 transparent transparent;
}

.buscar-meus-pets {
    width: 25%;
    height: 5vh;
    display: flex;
    align-items: center;
}

.buscar-meus-pets input {
    width: 80%;
    height: 5vh;
    color: black;
}

.buscar-meus-pets button {
    align-items: center;
    border: none;
}

.content-lixeira-icon {
    width: 100%;
    display: flex;
    justify-content: center;
}

.lixeira-icon-meus-pets {
    background-color: rgb(216, 10, 10);
    width: 20%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.lixeira-icon-meus-pets img {
    height: 5vh;
    cursor: pointer;
}

.div-pet-empty {
    width: 70%;
    height: 60vh;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #595959;
    font-size: 1.5rem;
}

.img-doggo-meus-pets {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.div-pet-empty div img {
    height: 130px;
    margin-left: -40px;
}

.div-pet-empty span {
    margin: 20px;
}

.div-pet-empty button {
    width: 250px;
    height: 50px;
    margin: 10px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #7E2C61;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}

.botoes-cadastro-importacao-meus-pets {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    justify-content: space-evenly;
}

.btn-enviar-arquivo {
    background-color: #7E2C61;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.content-enviar-arquivo-meus-pets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.btn-enviar-arquivo:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.content-enviar-arquivo-meus-pets-cheio {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.btn-adc-pet {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-adc-pet button {
    margin: 0;
    width: 50%;
    height: 5vh;
    background-color: #7E2C61;
    font-family: 'Signika', sans-serif;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 10px;
}

.btn-import-meus-pets-cheio {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}