.container-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-main h2 {
    color: black;
    text-align: left;
    width: 50%;
    margin-top: 4%;
    margin-right: 40%;
}

.content input {
    width: 20%;
}

.content2 {
    width: 100%;
    height: 40vh;
}

.teste {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.teste select {
    background-color: #7E2C61;
}

.tabela{
    width: 100%;
    display: flex;
    justify-content: center;
}

.table-container {
    margin-top: 2%;
    border-collapse: collapse;
    width: 90%;
    align-items: center;
}

.table-container th {
    background-color: #7E2C61;
    color: #fff;
    padding: 8px;
    text-align: left;
    border: 1px solid white;
}

.table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
}

.filtro {
    position: relative;
    display: inline-block;
}

.filtro {
    display: flex;
    width: 200px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filtro::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #999 transparent transparent;
}